html {
    height: 100%;
    background-image: linear-gradient(to bottom right,black, green, black);
}

#logo {
    background-color: black;
    text-align: center;
    color: white;
}

#spotify-login {
    height: 200px;
    text-align: center;
    color: whitesmoke;
    border-color: whitesmoke;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    width: 20%;
    margin-left: 350px;

}

#apple-login {
    height: 200px;
    color: whitesmoke;
    text-align: center;
    border-color: whitesmoke;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    width: 20%;
    margin-left: 1000px;

}